/* Apply to ALL elements (*) on the page */
* {
    /* Makes width/height include padding and border.
       Easier to control element sizes. */
    box-sizing: border-box;
}

body {
    /* Adds 20px space inside the body around all content */
    padding: 20px;

    /* Sets the font. Uses Arial first,
       then Helvetica, then any sans-serif font */
    font-family: Arial, Helvetica, sans-serif;

    /* Sets a dark gray background color */
    background: #27292c;

    /* Makes all text inside body white by default */
    color: white;
}

h1 {
    /* Adds 30px space above every h1 heading */
    margin-top: 30px;
}

.nav-list {
    /* Removes the default bullet points
       from an unordered list (ul) */
    list-style: none;

    /*the items[logo and ul] are linign up*/
    display: flex;  
}

/*the logo and ul needs to be alligned so the parent of these two header needs to become flex-container */


/*items are now in line*/
.header{
    display: flex;

    /*logo got quezzed bcz flex container will strch it:fix=> */
    align-items: center;

    /*i have 2 items [logo and ul] so centerise */
    justify-content: space-between;
}

.nav-list-items{
    /*spacing between each ul*/
    margin-left: 10px;
}
